div{
    color:navajowhite ;
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    color: whitesmoke;
    border: 1px solid black;
}

#op{
    background-color: red;
    color: whitesmoke;
}

.dark{
    color: white;
    background-color: black;
} 
.light{
    color: black;
    background-color: white;
} 
